@charset "UTF-8";
/* 전체 공통으로 정리할 css*/

i.small {display: block; background:url(../images/common/icon_group.png) no-repeat; width: 24px; height: 24px; margin: auto;}
i.sun.small {background-position:0 -906px; }
i.moon.small {background-position:-50px -906px; }

/* layout*/
footer {width: 100%; text-align: center; font-size: 15px;}
.con_wrap {width: 100%;}
.ir {display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px;} /*숨김텍스트*/


/* intro */
#intro {position: relative; background:url(../images/intro/main_bg.png) no-repeat center; background-color:#F6F6F6;}

/* header*/
#intro header {text-align: center;  padding: 11vh 20px 0;}
#intro header h1 {margin-bottom: 20px;}
#intro header p {font-size:20px; font-weight: 800;}
#intro header p span {color:#fff; font-size:18px;}
#intro header p span.box {display: inline-block; background:#757575; padding:0 10px; border-radius: 3px; line-height: 31px;}

/* link*/
#intro .btn__card {z-index: 9; position: relative;padding: 6.5vh 0; text-align: center; font-family: 'NanumSquareRound';}
#intro .btn__card ul {display: flex; justify-content: center;}
#intro .btn__card ul .card__item {display: block; position:relative; float: left; width: 270px; height: 300px; border-radius:40px; box-shadow: 13px 13px 5px 0 #d7d7d7;}
#intro .btn__card ul .card__item:not(:last-child) {margin-right:80px;}
#intro .btn__card ul .card__item.num1 {background: #57bbad; border:13px solid #3dab9b;}
#intro .btn__card ul .card__item.num2 {background: #4d8de7; border:13px solid #377de0;}
#intro .btn__card ul .card__item.num3 {background: #ff82bb; border:13px solid #ff68af;}
#intro .btn__card ul .card__item.num4 {background: #ff7754; border:13px solid #ff623b;}
#intro .btn__card ul .card__item:not(:last-child)::after {position: absolute; overflow: hidden; content: ''; width: 36px; height: 36px;
    top: 45%; right:-70px; background: url(../images/common/arrow_circle_gray.svg) no-repeat center;}
#intro .btn__card ul .card__item a {display: block; width: 100%; height: 100%; padding: 25px;}
#intro .btn__card ul .card__item .number {display: block; text-align: left; font-size: 22px; font-weight: 900; color: rgba(255, 255, 255, 0.5);}
#intro .btn__card ul .card__item p {font-size: 24px; font-weight: 800; color: #fff;}

/* link_icon*/
#intro .btn__card ul .card__item i {display: block; width:100px; height: 100px; margin: 10px auto 20px;}
#intro .btn__card ul .card__item.num1 i {background: url(../images/intro/menu_ico_01.png) no-repeat center;}
#intro .btn__card ul .card__item.num2 i {background: url(../images/intro/menu_ico_02.png) no-repeat center;}
#intro .btn__card ul .card__item.num3 i {background: url(../images/intro/menu_ico_03.png) no-repeat center;}
#intro .btn__card ul .card__item.num4 i {background: url(../images/intro/menu_ico_04.png) no-repeat center;}

/* 소개*/
#intro .txt {text-align: center;}
#intro .txt span {display: block;}
#intro .txt span .ir {display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px;}
#intro .txt .intro__txt {margin-top:10px; font-weight: 400; color:#555;}

/* 하단 버튼*/
#intro .btns {overflow: hidden; padding: 6vh 21%; text-align: center; font-family: 'NanumSquareRound';}
#intro .btns ul {display: flex; justify-content: space-between;}
#intro .btns ul li {display: flex;}
#intro .btns ul li p {font-size: 21px; font-weight: 700; color: #fff; letter-spacing:0;line-height: 52px;}

#intro .btns ul .item i {display: block; width:52px; height:52px; margin-right: 10px;}
#intro .btns ul .item:nth-child(1) i {background: url(../images/intro/btn_btm_01.png) no-repeat center;}
#intro .btns ul .item:nth-child(2) i {background: url(../images/intro/btn_btm_02.png) no-repeat center;}
#intro .btns ul .item:nth-child(3) i {background: url(../images/intro/btn_btm_03.png) no-repeat center;}

/* intro - footer*/
footer .intro_ft {padding: 3vh 0;}
footer .intro_ft p {color:#fff;}

/* bg_object*/
.bg_object {position: absolute; bottom: 168px; overflow: hidden;}
.bg_object.num1 {z-index: 10; width:400px; height:300px; right: 160px;}
.bg_object.num2 {width: 550px; height: 330px; left: 80px;}

.bg_object .character.num1 {position: absolute; width:284px; height:330px; left: -30px; top: 15px; background: url(../images/intro/character_01.png) no-repeat;}
.bg_object .character.num2 {position: absolute; width:200px; height:270px; right: 0; top: 120px; background: url(../images/intro/character_02.png) no-repeat;}
.bg_object .character.num3 {position: absolute; width:260px; height:390px; top: -38px; left: -16px; background: url(../images/intro/character_03.png) no-repeat;}
.bg_object .character.num4 {position: absolute; width:330px; height:320px; left: 80px; top: 95px; background: url(../images/intro/character_04.png) no-repeat;}
.bg_object .character.num5 {position: absolute; width:185px; height:240px; right: 0; top: 150px; background: url(../images/intro/character_05.png) no-repeat;}

/* 캐릭터 애니메이션*/
.bg_object .character.num1 {animation: character1 0.5s; animation-delay:0.1s; animation-iteration-count:2;}
.bg_object .character.num2 {animation: character1 0.5s; animation-delay:0.3s; animation-iteration-count:1;}
.bg_object .character.num3 {animation: character1 0.5s; animation-delay:1.2s; animation-iteration-count:1;}
.bg_object .character.num4 {animation: character1 0.5s; animation-delay:0.9s; animation-iteration-count:2;}
.bg_object .character.num5 {animation: character1 0.5s; animation-delay:0.6s; animation-iteration-count:1;}
 
@keyframes character1 {
    0%, 100% {transform: translateY(0);}
	50% {transform: translateY(-15px);}
}

/* ---------------------intro 끝 */
/* exam 시작--------------------- */

/* exam - header */
.header.main {display: flex;flex-direction: row;justify-content: space-between;align-items: center;padding: 20px 40px;gap: 50px;isolation: isolate;
    background: url(../images/common/header_bg.jpg) no-repeat 50%;}
.header.main h1 {width: 149px;height: 40px;}

.member {display: flex;flex-direction: row;align-items: center;padding: 0px;gap: 20px;font-size:1.8rem}
.member .name {color:#fff;display: flex;flex-direction: row;align-items: center;padding: 0px;gap: 8px;}
.member .name span {font-weight: 900;}
.member .name i {width: 24px;height: 24px; background: url(../images/common/arrow_circle_white.svg) no-repeat;}

.member button.btn {font-family: 'NanumSquareRound'; font-weight: 800; display: flex;flex-direction: row; align-items: center;}
.member button.btn i {width: 24px;height: 24px; background: url(../images/common/plus.png) no-repeat; margin-left: 4px;}

/* exam - nav*/
.gnb {background: #fff; border-bottom: 1px solid #6DA9E0; font-family: 'NanumSquareRound'; font-weight: 900;}
.gnb ul {display:flex; flex-direction: row;justify-content: center;align-items: center;padding: 24px 110px;gap: 50px;}
.gnb ul li a {display: flex;flex-direction: row; align-items: center; padding: 0px; gap: 4px; color:#CACACA;font-size:2rem;font-weight:800}
.gnb ul li .menu_ico {width:28px; height:28px; background: url(../images/common/icon_group.png) no-repeat;}

.gnb ul li .menu_ico.num1 {background-position: 0 0;}
.gnb ul li .menu_ico.num2 {background-position: -28px 0px;}
.gnb ul li .menu_ico.num3 {background-position: -56px 0px;}
.gnb ul li .menu_ico.num4 {background-position: -84px 0px;}

/* nav on*/
.gnb ul li.gnb_on a {color:#333}
.gnb ul li.gnb_on .menu_ico.num1 {background-position: 0 -37px;}
.gnb ul li.gnb_on .menu_ico.num2 {background-position: 0 -37px;}
.gnb ul li.gnb_on .menu_ico.num3 {background-position: 0 -37px;}
.gnb ul li.gnb_on .menu_ico.num4 {background-position: 0 -37px;}

/* exam 컨텐츠 시작*/
.container {font-family: 'NanumSquareRound'; display: flex; flex-direction: column; align-items: center; padding: 40px 60px; gap: 30px; background: #F5F7FB; }

/* exam - location*/
.lct_box {font-family: 'NanumSquareRound'; width:100%; height: 68px; display: flex; flex-direction: row; align-items: center; gap: 12px;}
.lct_box .title {font-style: normal; font-weight: 800; font-size: 4rem; line-height: 4.5rem; letter-spacing: -0.01em; display: flex;flex-direction: row; align-items: center; color: #4D8DE7;}
.lct_box .location {width: 275px; height: 46px;display: flex;align-items: center; padding: 15px 4px 6px; gap: 35px;}
.lct_box .location li {position:relative; line-height:1;font-size:1.5rem}
.lct_box .location li i {display: block; width: 25px; height: 25px; background: url(../images/common/home.png) no-repeat;}
.lct_box .location li:not(:last-child)::before {right: -20px; top:calc(50% - .7rem); width: 14px;height: 14px;content: ''; position: absolute;border-color: #777;
    border-right-width: 1px;border-bottom-width: 1px;border-right-style: solid;border-bottom-style: solid; transform: rotate(315deg);}

/* exam - title icon*/
.lct_box .title .tit_ico {display: block; width: 68px;height: 68px; background: url(../images/common/icon_group.png) no-repeat;}
.lct_box .title .tit_ico.num1 {background-position: 0 -75px;}
.lct_box .title .tit_ico.num2 {background-position: -68px -75px;}
.lct_box .title .tit_ico.num3 {background-position: -139px -75px;}
.lct_box .title .tit_ico.num4 {background-position: -204px -75px;}

/* exam - plus_box*/
.plus_box {width: 100%; display: flex; gap: 20px;}
.plus_box .inner {display: flex; justify-content: center; padding: 30px 0px; gap: 80px; border-radius: 8px; border: 1px solid #EDEDED; background: #ffffff;width: 100%;}
.plus_box .std {display: inline-flex; align-items: center;padding: 0px; gap: 10px;}
.plus_box .std .btn_group {display: flex; align-items: center; gap: 10px;}
.plus_box .std .btn_group .count_txt_input {width: 53px; height: 36px; border: 2px solid #E2E2E2; border-radius: 4px; text-align: center;}
.plus_box .std .btn_group button.circle_btn {width: 36px; height: 36px;}

.plus_box .file {display: inline-flex;align-items: center; padding: 0px; gap: 10px;}
.plus_box .inner .item p {line-height: 32px;font-weight: 800; font-size: 18px; color: #4D8DE7;transform: skew(-0.001deg);}

/* exam - plus_box icon*/
.ico_32 {display: block; width: 32px; height: 32px; background: url(../images/common/icon_group.png) no-repeat;}
.ico_32.student {background-position: 0 -154px;}
.ico_32.excel {background-position: -31px -154px;}

.ico_36 {display: block; width: 36px; height: 36px; background: url(../images/common/icon_group.png) no-repeat}
.ico_36.minus {background-position:-64px -154px;}
.ico_36.plus {background-position:-100px -154px;}

/* exam - 학생목록*/
.std_list {width:100%;}
.std_list h3 {font-size: 22px; line-height: 27px; color: #555; letter-spacing: -0.005em; font-weight: 800; font-family: 'NanumSquareNeo'; margin-bottom: 20px;}
.std_list .table_wrap {display: flex; flex-direction: column; align-items: flex-start;}
.std_list thead tr th {font-weight: 700;font-size: 1.6rem;}
.std_list tbody tr td {text-align: center;}
.std_list thead tr:nth-child(1) th:first-child {border-radius: 10px 0 0 0;}
.std_list thead tr:nth-child(1) th:last-child {border-radius: 0 10px 0 0 ;}
.std_list tbody tr td .input_txt {display: none;}
.std_list tbody tr input, .std_list tbody tr select {width:70px; height: 40px; border: none; text-align: center;font-size: 20px;font-weight: 700;
    font-family: 'NanumSquareRound'; color: #555;border-radius: 8px; border: 1px solid #E3EEF3;}
.std_list tbody tr .input_name {width:140px;}

/* exam - 학생목록 button icon*/
.std_list tbody i {margin:auto; height: 36px; display: block; background: url(../images/common/icon_group.png) no-repeat;}
.std_list .test {width:32px; background-position:0 -225px;}
.std_list .learn {width:32px; background-position:-33px -225px;}
.std_list .miss {width:32px; background-position:-65px -225px;}
.std_list .more {width:60px; background-position:-101px -225px;}
.std_list .basket {width:32px; background-position:-173px -225px;}
.std_list .test_learn {color:#4D8DE7; font-size:18px; font-weight: 700; font-family: 'NanumSquareRound';}
.std_list .test_miss {color: #AFAFAF; font-size:18px; font-weight: 700; font-family: 'NanumSquareRound';}

/* exam - 학생목록 테이블 헤더*/
.std_list table thead .th_yellow_1 {background:var(--c_yellow_2);color: var(--c_yellow_m);border: none; border-right: 1px solid var(--c_yellow_2);}
.std_list table thead .th_pink_1 {background:var(--c_pink_2); color: var(--c_pink_m); border: none; border-right: 1px solid var(--c_pink_2);}
.std_list table thead .th_mint_1 {background:var(--c_mint_2); color: var(--c_mint_m); border: none; border-right: 1px solid var(--c_mint_2);}

.std_list table thead .th_yellow_2 {background: var(--c_yellow_1); border-width: 1px 1px 1px 0px; border-style: solid; border-color:var(--c_yellow_3); color:var(--c_yellow);}
.std_list table thead .th_pink_2 {background: var(--c_pink_1);border-width: 1px 1px 1px 0px; border-style: solid; border-color:var(--c_pink_3); color:var(--c_pink);}
.std_list table thead .th_mint_2 {background:var(--c_mint_1); border-width: 1px 1px 1px 0px; border-style: solid; border-color:var(--c_mint_3); color:var(--c_mint);}

.std_list table thead th span.step_tit {display: flex; justify-content: center; gap: 5px;}

.std_list table thead th i.step {display: block; width: 57px; height: 22px; background: url(../images/common/icon_group.png) no-repeat;}
.std_list table thead th i.step.num1 {background-position: 0 -272px;}
.std_list table thead th i.step.num2 {background-position: -56px -272px;}
.std_list table thead th i.step.num3 {background-position: -112px -272px;}

/* exam - 학생목록 테이블 바디*/
.std_list tbody tr:nth-child(odd) {background: #fff;}
.std_list tbody tr:nth-child(even) {background: #fbfdff;}

/* exam - footer*/
footer .main_ft {padding: 3vh 0;}


/* modal css*/
/* modal 공통*/
.modal { width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0.8); display: none; flex-direction: column; justify-content: center; align-items: center;}
.modal__wrap {position: relative; -webkit-animation: pop-show .5s; animation: pop-show .5s; overflow-y: scroll;}
@keyframes pop-show {
    0% {-webkit-transform: scale(.7); transform: scale(.7)}
    40% {-webkit-transform: scale(1.05); transform: scale(1.05)}
    90% {-webkit-transform: scale(.99); transform: scale(.99)}
    100% {-webkit-transform: scale(1); transform: scale(1)}
}

/* 진단하기__modal 시작*/
.modal__wrap.type01 {width: 86%; height: 90%;}
.modal__wrap .window {display: flex; width: 100%; height: 100%; }

/* close 버튼 공통*/
.modal__wrap.type01 .btn_close {position: absolute; width: 72px; height: 72px;}
.modal__wrap.type01 .btn_close i {display: block; width: 72px; height: 72px; background: url(../images/common/icon_group.png) no-repeat; background-position: -193px -318px;}

/* 인트로__modal*/
.modal__wrap .test__intro {width: 100%; background-color:#fff;}
.test__intro .intro__wrap .btn_close {right:30px; top: 30px;}

/* 컨텐츠 시작*/
.test__intro .intro__wrap {width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between; background: url(../images/common/test_intro_bg01.png) no-repeat; background-size: 90%; background-position: 151px -48px;}
.test__intro .intro__wrap .con_wrap {display:flex; align-items: flex-end;}

.test__intro .intro__wrap .con_wrap h3 {font-weight: 900; font-size: 33px; line-height: 36px; letter-spacing: -0.01em;}
.test__intro .intro__wrap .con_wrap h2 {font-weight: 800; font-size: 86px; line-height: 98px; letter-spacing: -0.01em;}

.test__intro .test_intro_hd {width: 85%; justify-content: space-between; margin: auto; }
.test__intro .test_intro_hd .title_box {display: flex; flex-direction: column; gap: 10px;}
.test__intro .test_intro_hd .title_box .sub_txt {margin: 10px 0 30px; font-size: 24px; font-family: 'NanumSquareRound'; font-weight: 700; letter-spacing: -0.01em;}
.test__intro .test_intro_hd .title_cover {display: flex; align-items: center; gap: 15px;}
.test__intro .test_intro_hd .title_cover .round_box {border-radius: 8px; padding: 10px; color:#fff; font-size: 58px; line-height: 66px; height: 82px; font-weight: 700;}

.test__intro .test_intro_hd .title_box .btn_wrap {display:flex; gap: 10px;}  
.test__intro .test_intro_hd .title_box .btn_wrap .btn {text-align: center; padding: 0; width: 290px; height: 68px; border-radius: 4px; font-weight: 800; font-size: 20px; line-height: 66px; border: 1px solid #4D8DE7;}
.test__intro .test_intro_hd .title_box .btn_wrap .btn.prep {background: #FFF;  color: #4D8DE7;}
.test__intro .test_intro_hd .title_box .btn_wrap .btn.start {background: #4D8DE7; color: #FFF;}

.test__intro .test_intro_hd .test_check ul {display:flex; gap: 20px;}
.test__intro .test_intro_hd .test_check li {display: flex; flex-direction: column; justify-content: flex-end; align-items: center;width: 130px; height: 125px; gap: 20px;}
.test__intro .test_intro_hd .test_check ul li i {display:block; width: 90px; height: 90px; background: url(../images/common/icon_group.png) no-repeat;}
.test__intro .test_intro_hd .test_check ul li i.num1 {background-position: 0 -306px;}
.test__intro .test_intro_hd .test_check ul li i.num2 {background-position: -90px -306px;}

.test__intro .test_exp .checklist {display: flex; align-items: flex-end; justify-content: space-between; width: 100%; height: 308px; padding: 46px 60px; gap: 25px;}
.test__intro .test_exp .checklist .box_item {position: relative; height: 215px;}
.test__intro .test_exp .checklist .box_item:not(:first-child) {background: rgba(255, 255, 255, 0.1); border-radius: 20px;}
.test__intro .test_exp .checklist .box_item .badge {position: absolute; border-radius: 70px; padding: 8px 12px; color: #000; font-weight: 900; font-family: 'NanumSquareRound'; 
    background:#1AD5D1; top: -14px;}
.test__intro .test_exp .checklist .box_item:not(:last-child) .badge {left: 35px;}

.test__intro .test_exp .checklist .box_item.num1 {width: 40%;}
.test__intro .test_exp .checklist .box_item.num1 h2 {display: block; color: #fff; position: absolute; right: 26px; font-size: 32px; line-height: 36px; bottom: 38px; font-weight: 900;}
.test__intro .test_exp .checklist .box_item.num1 h2::before {position: absolute; display: block; content: ''; height: 156px; width: 114px; left: -120px; bottom: 0;
    background: url(../images/common/test_intro_img02.png) no-repeat;}

.test__intro .test_exp .checklist .box_item.num2 {width: 100%; display: flex; flex-direction: row; justify-content: space-between;align-items: center; padding: 50px 30px 20px 35px; gap: 30px;}
.test__intro .test_exp .checklist .box_item.num2 ul {width: 100%; display: flex; justify-content: space-between; align-items: center;}
.test__intro .test_exp .checklist .box_item.num2 ul li p {color:#fff;}
.test__intro .test_exp .checklist .box_item.num2 ul li:first-child .txt_green {font-weight: 900; font-size: 20px; line-height: 30px; letter-spacing: -0.005em;}
.test__intro .test_exp .checklist .box_item.num2 ul li:last-child {width:37%;}
.test__intro .test_exp .checklist .box_item.num2 ul li:last-child .txt_green {font-weight: 900; font-size: 16px; line-height: 28px; letter-spacing: -0.005em;}
.test__intro .test_exp .checklist .box_item.num2 ul li .row_item {display: inline-flex; justify-content: flex-start; color:#fff; gap: 15px;;}
.test__intro .test_exp .checklist .box_item.num2 ul li .row_item.num1 {margin-bottom:20px;}

.test__intro .test_exp .checklist .box_item.num2 ul li .row_item li:not(:first-child) {display: flex;align-items: center;gap: 6px;}
.test__intro .test_exp .checklist .box_item.num2 ul li .row_item li i {display: block; width: 24px; height: 24px; background:url(../images/common/icon_group.png) no-repeat;}
.test__intro .test_exp .checklist .box_item.num2 ul li .row_item li i.prev {background-position:0 -941px;}
.test__intro .test_exp .checklist .box_item.num2 ul li .row_item li i.next {background-position:0 -941px;}
.test__intro .test_exp .checklist .box_item.num2 ul li .row_item li i.top {background-position:0 -941px;}
.test__intro .test_exp .checklist .box_item.num2 ul li .row_item li i.foot {background-position:0 -941px;}
.test__intro .test_exp .checklist .box_item.num2 ul li .row_item li i.sun.samll {background-position:0 -906px;}
.test__intro .test_exp .checklist .box_item.num2 ul li .row_item li i.moon.samll {background-position:-50px -906px;}
.test__intro .test_exp .checklist .box_item.num2 ul li .row_item li span {font-weight: 300;}

.test__intro .test_exp .checklist .box_item.num3 {width: 35%; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; padding: 39px 30px; gap: 10px; isolation: isolate;}
.test__intro .test_exp .checklist .box_item.num3 .col_item {width: 100%;}
.test__intro .test_exp .checklist .box_item.num3 .col_item .sub_title {display: flex;flex-direction: row;align-items: center;margin-bottom: 15px; color:#4D8DE7; gap: 4px;}
.test__intro .test_exp .checklist .box_item.num3 .col_item .sub_title span {font-weight: 900;font-size: 16px;line-height: 18px;}
.test__intro .test_exp .checklist .box_item.num3 .col_item .sub_title i {display:block;width:32px;height:32px;background:url(../images/common/icon_group.png) no-repeat;background-position:0 -401px;}
.test__intro .test_exp .checklist .box_item.num3 .col_item .chart_wrap {display: flex; flex-direction: row; gap: 20px; align-items: center;}
.test__intro .test_exp .checklist .box_item.num3 .col_item .chart_wrap .chart_bar {width: 100%; background: #fff; border-radius: 15px; overflow:hidden;}
.test__intro .test_exp .checklist .box_item.num3 .col_item .chart_wrap .chart_bar .percent {display: block; width:40%; height: 15px; border-radius: 15px; background: #4D8DE7;}
.test__intro .test_exp .checklist .box_item.num3 .col_item .chart_wrap .count_wrap {display: flex; align-items: center; gap: 10px; color:#fff;}
.test__intro .test_exp .checklist .box_item.num3 .col_item .chart_wrap .count_wrap .circle {width: 24px; height: 24px;background: #4D8DE7;border-radius: 100px;color: #FFFFFF;text-align: center;line-height: 24px;}

.test__intro .test_exp .checklist .box_item.num4 {width: 22%; display: flex; flex-direction: column; align-items: center;justify-content: flex-end;}
.test__intro .test_exp .checklist .box_item.num4 div {margin-bottom:30px;}

/* 읽기 진단*/
.test__start {width: 100%; background:url(../images/common/sub_bg02.jpg) no-repeat; padding: 35px 45px;}

.test__start .start__hd {position: relative; width: 100%; display: flex; justify-content: space-between; margin-bottom:20px;}
.test__start .start__hd .start__title {display: flex;align-items: center; gap: 10px;}
.test__start .start__hd .btn_close {right: 0; top: -24px;}
.test__start .start__hd h2 {font-weight: 800; font-size: 36px; line-height: 41px; color:#fff; font-family: 'NanumSquareRound';}
.test__start .start__hd .badge {font-family: 'NanumSquareRound'; border-radius: 8px; padding: 7px; font-size: 20px; line-height: 23px; font-weight: 700; color: #4D8DE7;
    border: 1px solid #4D8DE7; background-color:#fff;}
.test__start .start__hd .sub_txt {color:#fff;}

/* 문제 유형 선택 버튼*/
.test__start .start__con {width: 100%;display: flex; flex-direction: column; align-items: flex-start; padding: 30px 50px; background: #FFFFFF; border-radius: 40px;}
.test__start .start__con .btn__list {display: flex; justify-content: center; gap: 10px;}
.test__start .start__con .btn__list li {position: relative; height: 100%;}
.test__start .start__con .btn__list input[type="radio"] {position: absolute; display: flex; opacity: 0; width: 100%; height: 100%; margin: 0; cursor: pointer;}
.test__start .start__con .btn__list .type__btn {display: block; padding: 16px; border: 1px solid #4D8DE7; border-radius: 4px; color: #4D8DE7; }
.test__start .start__con .btn__list .type__btn i {display: none; }
.test__start .start__con .btn__list input[type="radio"]:checked ~ .type__btn {background: #F7FAFD; display: flex;justify-content: space-between; gap: 5px; }
.test__start .start__con .btn__list input[type="radio"]:checked ~ .type__btn i {display: block;border-color: #4D8DE7;border-right-width: 3px; border-bottom-width: 3px;
    border-right-style: solid;border-bottom-style: solid;width: 11px;height: 11px;transform: rotate(45deg);-webkit-transform: rotate(45deg); }

/* 문제 출제 박스__슬라이더*/
.test__start .start__con .quest_box {position: relative; display: flex; justify-content: center; align-items: center; padding:40px 0; font-family: 'NanumSquareRound'; font-weight: 800;}
.test__start .start__con .slide_box {display: flex; flex-direction: column; margin: auto;}
.test__start .start__con .slide_box .quest_num_box {text-align: center; font-size: 30px; line-height: 34px;}
.test__start .start__con .slide_box .quest_num_box .quest_num {display: inline-flex; gap: 10px;}
.test__start .start__con .slide_box .quest_num_box .quest_num p {font-weight: 800; font-size: 30px; color: #4D8DE7;}
.test__start .start__con .slide_box .quest_num_box .quest_num .circle.type02 {display: block; width: 50px;height: 50px; background: rgba(109, 169, 224, 0.1);
    border: 1px solid #4D8DE7; border-radius: 100px; text-align: center; line-height: 50px; color: #4D8DE7;}

.test__start .start__con .slide_box .quest_item_wrap {width: 100%;}
.test__start .start__con .slide_box .quest_item_wrap .quest_item {font-size: 332px; line-height: 377px;}


/* 정답 표기 박스*/
.test__start .start__con .answer_box {position: absolute; right: 0;}
.test__start .start__con .answer_box li:first-child {margin-bottom: 155px;}
.test__start .start__con .answer_box i {display: block; width: 110px; height: 110px; background:url(../images/common/icon_group.png) no-repeat;}
.test__start .start__con .answer_box i.sun.big {background-position:0 -700px;}
.test__start .start__con .answer_box i.moon.big {background-position:-220px -700px;}

.test__start .start__con .answer_box i.sun.big:hover {background-position:-112px -700px;}
.test__start .start__con .answer_box i.moon.big:hover {background-position:-321px -700px;}

/* 슬라이더 버튼*/
.test__start .start__con .slide_btn_box {width: 100%; position: absolute;display: inline-flex; justify-content: space-between; height: 102px;}
.test__start .start__con .slide_btn_box div {position: absolute; width: 102px; height: 102px; background:url(../images/common/icon_group.png) no-repeat;
    overflow: hidden; border-radius: 102px;}
.test__start .start__con .slide_btn_box div a {width: 102px; height: 102px; display: block;}
.test__start .start__con .slide_btn_box div.btn_prev {background-position:0 -450px; left: 0;}
.test__start .start__con .slide_btn_box div.btn_next {background-position:-102px -450px; right: 0;}

.test__start .start__con .slide_btn_box div.btn_prev:hover {background-position:-204px -450px;}
.test__start .start__con .slide_btn_box div.btn_next:hover {background-position:-306px -450px;}

.test__start .start__con .stage_nav {display: flex; align-items: center; justify-content: space-between; gap: 20px; }
.test__start .start__con .stage_nav .frame {display: flex;}
.test__start .start__con .stage_nav .frame.num1 {width:80%;}
.test__start .start__con .stage_nav .frame.num2 {width: auto; position: relative; display: flex; align-items: center; gap: 20px;}

.test__start .start__con .grap__wrap {width: 100%; display: flex; align-items: center; justify-content: space-between; gap: 10px;}
.test__start .start__con .grap__wrap .sub_title {display: inline-flex;}
.test__start .start__con .grap__wrap .sub_title i {width: 40px;height: 40px;display: block;background: url(../images/common/icon_group.png) no-repeat;background-position: -31px -401px;}
.test__start .start__con .grap__wrap .sub_title span {line-height: 40px;}
.test__start .start__con .grap__wrap .chart_wrap {width: 90%; display: flex; flex-direction: row; gap: 20px; align-items: center;}
.test__start .start__con .grap__wrap .chart_wrap .chart_bar {width: 100%; background: #ddd; border-radius: 15px; overflow:hidden;}
.test__start .start__con .grap__wrap .chart_wrap .chart_bar .percent {display: block; width:40%; height: 15px; border-radius: 15px; background: #4D8DE7;}
.test__start .start__con .grap__wrap .chart_wrap .count_wrap {display: flex; align-items: center; gap: 10px; color:#000;}
.test__start .start__con .grap__wrap .chart_wrap .count_wrap .circle.type01 {width: 24px; height: 24px;background: #4D8DE7;border-radius: 100px;color: #FFFFFF;text-align: center;line-height: 24px;}
.test__start .start__con .grap__wrap.off {display: none;}

.test__start .start__con .btn.stage {width: 118px;height: 118px;display:block;border-radius: 118px;overflow: hidden;padding: 0;background: initial;float: left;}
.test__start .start__con .btn.stage i {width: 118px;height: 118px; display:block; background: url(../images/common/stage_btn_img.png);}
.test__start .start__con .btn.stage.on > i {background: url(../images/common/stage_btn_img_on.png.png);}
.test__start .start__con .btn.save {background: #4D8DE7; color:#fff; height: 50px;}

/* 진행단계 네비게이션 활성화 박스*/--------------------- */
.test__start .start__con .stage__wrap {display: none;}
.test__start .start__con .stage__wrap.on {display: flex; width:100%;}
.test__start .start__con .stage__wrap.on th, .test__start .start__con .frame .stage__wrap td {width:5%;}
.test__start .start__con .stage__wrap.on .thead.type02 th {background: #F7FAFD; border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgba(77, 141, 231, 0.5); color: #4D8DE7;}
.test__start .start__con .stage__wrap.on .tbody.type02 td {background: #FFFFFF; border-width: 0px 1px 1px 0px; border-style: solid; border-color: #E3EEF3;}
.test__start .start__con .stage__wrap.on .thead.type02 th:last-child {border-right:none;}
.test__start .start__con .stage__wrap.on .tbody.type02 td:last-child {border-right:none;}

/* ---------------------exam 끝 */
/* result 시작--------------------- */

/* result 컨텐츠 시작*/
.plus_box .inner.type02 {width:70%; height: 240px; justify-content: space-around; padding: 50px; gap: 30px;}
.plus_box .inner.type03 {width:30%; height: 240px; justify-content: space-around; padding: 16px;}

.plus_box .inner.type02 .group_box {display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; padding: 0px; gap: 10px;}
.plus_box .inner.type02 .group_box .item {display: flex; }
.plus_box .inner.type02 .group_box .item.num2 {align-items: center; gap: 20px; color: #4D8DE7; font-weight: 800;}
.plus_box .inner.type02 .group_box .item.num2 ul li:first-child {margin-bottom:10px;}

.plus_box .inner.type02 .report_box {width: 100%; display: flex;justify-content: center; gap: 20px;}
.plus_box .inner.type02 .report_box .item {width:275px; display: block; text-align: center;}
.plus_box .inner.type02 .report_box .item .report {padding: 28px 50px; border-radius: 8px; overflow: hidden;}
.plus_box .inner.type02 .report_box .item .report.num1 {background: #FFF9C6; color: #E7A702;}
.plus_box .inner.type02 .report_box .item .report.num2 {background: #FFDDEC; color: #FF1286;}
.plus_box .inner.type02 .report_box .item .report.num3 {background: #BFE6D0; color: #199C88;}

.plus_box .inner.type02 .report_box .item .report li:not(:last-child) {font-weight: 800; margin-bottom:10px;}
.plus_box .inner.type02 .report_box .item .report li:last-child {font-weight: 400; font-size: 16px; color: #545454;}

.plus_box .inner.type02 .report_box .item .report .per {display: flex; font-size: 24px; justify-content: center; line-height: 30px;}
.plus_box .inner.type02 .report_box .item .report .per i {width:30px; height: 30px; display: block;}
.plus_box .inner.type02 .report_box .item .report .per.num1 i {background:url(../images/common/result_step_img01.png) no-repeat;}
.plus_box .inner.type02 .report_box .item .report .per.num2 i {background:url(../images/common/result_step_img02.png) no-repeat;}
.plus_box .inner.type02 .report_box .item .report .per.num3 i {background:url(../images/common/result_step_img03.png) no-repeat;}


/* select 타입별*/
/* 공통*/
.select {position: relative; margin: auto; border: none; border-radius: 4px; font-family: 'NanumSquareRound';}
.select .lay {width: 100%;}
.select .lay>strong {display: block; width: 100%; height: 100%;}
.select .lay a {display: block; position: relative; width: 100%; font-size: 1.6rem; font-weight: 800;}
.select.on .lists {display: block; position: absolute; width: 100%; z-index: 10; border: 1px solid #E3EEF3; overflow-y: scroll;}
.select .lists {display: none; background: #fff;}
.select .lists ul li {text-align: center;}
.select .lists ul li a {display: block;}

/* select type01 :: 사용영역(헤더)*/
.select.type01 {width: 24rem; height: 4.8rem;  background: #206CD8; border: none; font-family: 'NanumSquareRound';}
.select.type01 .lay {height: 4.8rem; border: none; background: transparent; border-radius:0; border-radius: 4px;}
.select.type01 .lay a {display:flex;align-items:center;height: 4.8rem; line-height:1; padding: 0 20px; color: #fff;}
.select.type01 .lay a::after {content: ""; display: block; position: absolute; right: 15px; top: 10px; width: 24px; height: 24px; 
    background: url(../images/common/arrow_under_white.png) no-repeat; transform: rotate(0deg); -webkit-transform: rotate(0deg); transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;}
.select.type01.on .lay a::after {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.select.type01.on .lists {max-height: 200px; border-radius: 3px;}
.select.type01 .lists ul li a {height: 48px; line-height: 48px; text-align: left; margin-left: 20px;}

/*  select type02 :: 사용영역(학생목록)*/
.select.type02 {width: 70px; height: 40px;}
.select.type02 .lay {height: 40px; border: 0;background-color: #fff; border-radius: 8px; border: 1px solid #E3EEF3;}
.select.type02 .lay a {height: 40px; line-height: 40px; padding: 9px 0 0;}
.select.type02 .lay a::after {content: ""; display: block; position: absolute; right: 4px; top: 8px; width: 20px; height: 20px; 
    background: url(../images/common/arrow_down.png) no-repeat center center; transform: rotate(0deg); -webkit-transform: rotate(0deg); transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;}
.select.type02.on .lay a::after {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.select.type02.on .lists {border-radius: 8px; height: 82px; overflow: hidden;}
.select.type02 .lists ul li a {height: 40px; border-top: 1px dotted #E3EEF3; padding: 9px 0 0 0;}
.select.type02 .lists ul li:first-child a {border-top:none;}
.select.type02 i {display: block;width:20px; height: 20px; margin: 0 20px; background: url(../images/common/icon_group.png) no-repeat;}
.select.type02 i.ico_x {background-position:0 -196px;}
.select.type02 i.ico_o {background-position:-24px -196px;}

/*  select type03 :: 사용영역(진단결과)*/
.select.type03 {width: 240px; height: 48px;}
.select.type03 .lay {height: 48px; border: 1px solid #4D8DE7; border-radius: 4px;}
.select.type03 .lay a {height: 48px; line-height: 48px; padding: 0 20px; color: #4D8DE7;}
.select.type03 .lay a::after {content: ""; display: block; position: absolute; right: 15px; top: 10px; width: 24px; height: 24px; 
    background: url(../images/common/arrow_under_blue02.png) no-repeat; transform: rotate(0deg); -webkit-transform: rotate(0deg); transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;}
.select.type03.on .lay a::after {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.select.type03.on .lists {max-height: 200px; border-radius: 3px;}
.select.type03 .lists ul li a {height: 48px; line-height: 48px; text-align: left; margin-left: 20px;}









/* --------------------- 업데이트 기록 --------------------- */
/* 20230321 18:40 커밋 */